// colors
$clr-primary: (
  "turquoise": (
    "500": #3fe0d0,
    "600": #2ec0bf,
    "700": #2096a0,
    "800": #136e81,
  ),
  "blue": #40a0e0,
  "green": #40e080,
);

$clr-accent: (
  "danger": (
    "500": #ff5635,
  ),
  "warning": (
    "500": #ffd800,
  ),
  "info": (
    "500": #1485ff,
    "700" : #094CB7,
  ),
  "success": (
    "500": #8fce1b,
  ),
);

// breakpoints
$breakpoints: (
  "xxl": 1400px,
  "xl": 1200px,
  "lg": 992px,
  "md": 768px,
  "sm": 576px,
);

// functions & mixins
@function primary-color($name, $value) {
  @return map-get($clr-primary, $name, $value);
}

@function accent-color($name, $value) {
  @return map-get($clr-accent, $name, $value);
}

@function get-breakpoint($name) {
  @return map-get($breakpoints, $name);
}

@mixin displayFlex($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin respond-to($bp) {
  @if map-has-key($map: $breakpoints, $key: $bp) {
    @media screen and (max-width: map-get($breakpoints, $bp)) {
      @content;
    }
  }
  else {
    @warn "Value '#{$bp}' doesn't exist. "+
      "Available breakpoints are : #{map-keys($breakpoints)}";
  }
}
