@import "../../config";

.form {
  @include displayFlex(column, center, center);
  background-color : white;
  width : 580px;
  min-height : 350px;
  box-shadow : 0 7px 20px primary-color("turquoise", "800");
  margin-bottom : 25px;

  @include respond-to("md") {
    width : 550px;
  }

  @include respond-to("sm") {
    width : 330px;
  }

  .form-container {
    @include displayFlex(column, flex-start, center);
    width : 90%;
    height : 90%;

    .form-title {
      text-align : center;
      margin-bottom : 18px;

      @include respond-to("sm") {
        font-size : 18px;
      }
    }
    
    .form-fields {
      @include displayFlex(column, space-around);
      width : 90%;
      height : 100%;
      
      .form-field {
        display : flex;
        width : 100%;
        
        label {
          flex-basis : 20%;
          text-align : right;
          margin-right : 20px;
          font-weight : 500;

          @include respond-to("sm") {
            font-size : 14px;
          }
        }

        input,textarea, select {
          flex-basis : 80%;
          outline : none;
          border : 1px solid primary-color("turquoise", "700");
          border-radius : 3px;
          padding : 5px;
          &:focus{
            border : 3px solid primary-color("turquoise", "700");
          }

          @include respond-to("sm") {
            font-size : 12px;
          }
        }

        input, select {
          height : 30px;
        }

        textarea {
          resize : none;
          height : 50px;
        }
      }
    }
  }
}