@import "../../config";

.tasks {
  @include displayFlex(row, center, flex-end);
  height : calc(95vh - 370px - 25px);
  width : 580px;

  @include respond-to("lg") {
    height : calc(95vh - 370px - 25px - 18%);
  }

  @include respond-to("md") {
    width : 550px;
  }

  @include respond-to("sm") {
    width : 330px;
  }

  .no-task {
    @include displayFlex(row, center, center);
    height : 100%;
    font-size : 20px;
    color : white;

    @include respond-to("md") {
      font-size : 16px;
    }
  }
  
  .tasks-container {
    flex-grow : 1;
    height : 100%;
    
    .tasks-recent {
      color : white;
      font-size : 14px;
      height : 30px;
    }

    .tasks-inner-container {
      height : calc(100% - 30px);
      overflow : auto;
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;  /* Firefox */
      &::-webkit-scrollbar {
        display : none;
      }
    }
  }

}
