@import "../../../config";

.task {
  @include displayFlex(row, center, center);
  background-color : white;
  height : 60px;
  box-shadow : 0px 2px 10px primary-color("turquoise", "800");
  margin-bottom : 10px;

  .task-container {
    @include displayFlex($align:center);
    height : 80%;
    width : 98%;

    @include respond-to("sm") {
      width : 95%;
    }
    
    .task-priority {
      flex-basis : 10%;
      @include displayFlex($justify:center);

      .priority-dot {
        font-size : 40px;
       
        @include respond-to("sm") {
          font-size : 30px;
        }
        
        &-danger {
          color : accent-color("danger", "500");
        }

        &-warning {
          color : accent-color("warning", "500");
        }

        &-success {
          color : accent-color("success", "500");
        }

      }
    }

    .task-name-due {
      flex-basis : 75%;

      @include respond-to("sm") {
        flex-basis : 70%;
      }

      .task-name {
        font-weight : 500;
        font-size : 16px;
        margin-bottom : 5px;
        
        @include respond-to("sm") {
          font-size : 14px;
        }
      }

      .task-due {
        font-size : 12px;
        opacity : .5;
        font-weight : 500;

        @include respond-to("sm") {
          font-size : 10px;
        }
      }
    }

    .task-update-delete {
      @include displayFlex(row, space-around, center);
      flex-basis : 15%;
      height : 100%;

      @include respond-to("sm") {
        flex-basis : 20%;
      }
      
      .task-btn {
        font-size : 25px;
        color : primary-color("turquoise", "600");
        cursor : pointer;

        &:hover {
          color : primary-color("turquoise", "800");
        }
      }
    }
  }
}
