@import "../../config";

.view-task {
  @include displayFlex(row, center, center);
  height : 80vh;
  width : 65vw;
  align-self : center;
  position : relative;

  .view-back-btn {
    align-self : flex-start;
    text-decoration : none;
    @include displayFlex(row, center, center);
    color : white;
    cursor : pointer;
    opacity : .8;
    position : absolute;
    left : 0;

    &:hover {
      opacity : 1;
    }

    &-icon {
      color : white;
      font-size : 30px;
      margin-right : 5px;
    }

    span {
      font-size : 20px;
    }
  }

  
}